{
  "compact": false,
  "retainLines": true,
  "minified": false,
  "inputSourceMap": false,
  "sourceMaps": false,
  "presets": ["@babel/env", "@babel/react", "@babel/preset-typescript"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@ui-test": "./test"
        }
      }
    ]
  ]
}
